<div class="principal">
  <img class="imagen" src="../../../assets/wallpapers/fondo_principal.png">
  <br><br><br><br><br><br><br><br><br>
  <h1 type="titulo">CENIZAS DEL PASADO</h1>

  <div class="div_boton">
      <button  class="btn btn-primary" (click)="crearSala()">Iniciar Sala</button>
    </div>
    <div class="div_boton">
      <button type="button" class="btn btn-primary" (click)="escribirCodigo()">Unirse a Sala</button>
    </div>
    <div class="div_boton">
      <button type="button" class="btn btn-primary">Salir</button>
    </div>
  </div>