.principal {
    font-family: minecraft;
    position: relative;
    display: flex;
    vertical-align: middle;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
    width: 100%; 
    height: auto; 
}